/* 
    Some simple CSS to help with tweet lists etc
*/

#tweetList .tweetContent{
    padding-bottom: 12px;
    padding-top: 12px;
    border-top: solid 2px #e6e6e6;
}

#tweetList .userProfileImage img {
    width: 75px;
    height: 75px;
}

#tweetList .saveButtons{
    text-align: right;
    font-weight: bold;
}

#tweetList .user .userName{
    font-size: 18px;
    font-weight: bold;
}

#tweetList .user .userHandle {
    color: #00aced;
}

#tweetList .user .userVerified {
    color: #1dcaff;
    font-size: 18px;
}

#tweetList .odd{
    background-color: #f0f0f0;
}

#tweetList .even {
    background-color: #fff;
}